
<!-- recontruct -->
<section id="cjp-main-sec" class="row">
	<div class="col-xs-12">
		<div class="row">
			<div class="col-xs-12">
				<h1>{{ inventoryDetail.item.title }}</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-4">
				<!-- 16:9 aspect ratio 
				<div class="embed-responsive embed-responsive-16by9">
  					<iframe class="embed-responsive-item" ng-src="{{inventoryDetail.videoEmbedUrl}}" allowfullscreen></iframe>
				</div>-->
				<owl-carousel id="cjp-main-carousel" class="owl-carousel owl-theme" data-options="{dots: false, margin:10, items:1, nav:true, loop:false, autoHeight: true}">
					<!--<div owl-carousel-item class="item-video">
						<a class="owl-video" ng-href="{{inventoryDetail.videoEmbedUrl}}">
							<img src="http://img.youtube.com/vi/s0Jqa1o0gdI/0.jpg" alt="New 2016 Lexus CT 200h F Sport Series 1">
						</a>
					</div>-->
					<div owl-carousel-item ng-repeat="photo in inventoryDetail.mainGallery track by $index">
						<img imageonload="initSize" ng-src="{{ photo.url }}" alt="{{ photo.alt }}" ng-click="inventoryDetail.openPhotoList(inventoryDetail.item.record_id)" />
					</div>
	    		</owl-carousel>

			</div>
			<div class="col-md-8">

				<div class="well cjp-main-item-box">
					<div id="cjp-item-identifiers">
						<span>VIN #:  {{ inventoryDetail.item.vin }}</span>
						<span>&nbsp;|&nbsp;</span>
						<span>STOCK #: {{ inventoryDetail.item.stock_number }}</span>
					</div>
					<div id="cjp-item-price-container">
						<span id="cjp-detail-price">
							{{inventoryDetail.item.price | currency:'$' : 2 | messageIfZero : 'Contact For Price'}}
						</span>
					</div>
					
					<div class="row">
						<div class="col-xs-12">
							<div id="cjp-instock-container">
								<div id="cjp-current-stock">
									Only {{ inventoryDetail.leftInStock }} {{ inventoryDetail.item.model }} left in stock!
								</div>
							</div>


							<div id="cjp-action-box">
								<div class="btn btn-success">
								<eprice item-id="inventoryDetail.item.record_id"></eprice>
								</div>
								<span id="cjp-action-caption">
									*Pricing information for {{ inventoryDetail.today | date : 'mediumDate' }}
								</span>
							</div>
						</div>
						<!--
						<div class="col-xs-6">
							<div id="cjp-view-count-container">
								<span class="glyphicon glyphicon-user"></span>
								<span id="cjp-view-count-number">{{ inventoryDetail.viewedLast30Days }}</span>
								<span id="cjp-view-count-label">people recently viewed this vehicle*</span>
							</div>
						</div>
					-->
					</div>
				</div>

				<div class="well" id="cjp-social-sharing">
					<div class="col-xs-8" id="cjp-social">
						<span id="cjp-share-label">Share This:</span>
						<div class="a2a_kit a2a_kit_size_32 a2a_default_style" id="cjp-add-to-any-list">
							<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
							<a class="a2a_button_facebook"></a>
							<a class="a2a_button_twitter"></a>
							<a class="a2a_button_google_plus"></a>
						</div>
						<script async src="https://static.addtoany.com/menu/page.js"></script>

					</div>
					<div class="col-xs-4"></div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- end econtruct -->


<section id="cjp-tools-sec" class="row">
	<div class="col-md-6">
		<!--<div class="row">
			<a href class="col-xs-12">
				View larger gallery
			</a>
		</div>-->
		<div class="row">
			<owl-carousel id="cjp-thumb-carousel" class="owl-carousel owl-theme" data-options="{margin:10, items:4, nav:true, loop:false, updateSize: true}">
				<div owl-carousel-item ng-repeat="photo in inventoryDetail.previewGallery track by $index">
					<img imageonload ng-src="{{ photo.url }}" alt="{{ photo.alt }}"  />
				</div>
    		</owl-carousel>
		</div>
	</div>
	<div class="col-md-6">
		<!--<div class="row" ng-if="inventoryDetail.item.video_id">
			<h3 class="col-xs-12">Shopping Tools:</h3>
		</div>-->
		<div class="row" ng-if="inventoryDetail.item.video_id">
			<div class="col-xs-12">
				<a ng-click="inventoryDetail.openVideo(inventoryDetail.videoEmbedUrl)" class="btn cjp-tool-btn">
					<span class="cjp-tool-icon glyphicon glyphicon-play"></span>
					<span class="cjp-tool-label">VIDEO</span>
				</a>
			</div>
		</div>
		<div class="row">
			<h3 class="col-xs-12">Vehicle Details:</h3>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-responsive">
					<tr>
						<td>
							<span>Body:</span>
							<span>{{ inventoryDetail.item.body_type }}</span>
						</td>
						<td>
							<span>Engine:</span>
							<span>{{ inventoryDetail.item.engine }}</span>
						</td>
					</tr>
					<tr>
						<td>
							<span>Exterior:</span>
							<span>{{ inventoryDetail.item.exterior }}</span>
						</td>
						<td>
							<span>Trans:</span>
							<span>{{ inventoryDetail.item.transmission }}</span>
						</td>
					</tr>
					<tr>
						<td>
							<span>Interior:</span>
							<span>{{ inventoryDetail.item.interior }}</span>
						</td>
						<td>&nbsp;</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>

<style>
	
</style>
<section id="cjp-tab-sec" class="row">
	<div class="col-xs-12">
		<uib-tabset active="active">
			<uib-tab index="0" heading="Details">
				<ul class="feature-list">
					<li ng-repeat="feature in inventoryDetail.item.feature track by $index">{{ feature }}</li>
				</ul>
			</uib-tab>
			<uib-tab index="1" heading="Description">{{ inventoryDetail.item.listing_comment }}</uib-tab>
			<uib-tab index="1" heading="Condition"></uib-tab>
		</uib-tabset>
	</div>
</section>


<section class="row" style="padding-top: 25px; padding-bottom: 25px;" ng-if="inventoryDetail.similarItems.length > 0">
	<div class="col-xs-12">
		<div class="row">
			<h3 class="col-xs-12">
				Other Vehicles You May Like
			</h3>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<owl-carousel class="owl-carousel owl-theme" data-options="{margin:10, items:4, nav:true, loop:false}">
					<div owl-carousel-item ng-repeat="item in inventoryDetail.similarItems track by $index">
						<a ui-sref="inventory_detail({detail_url: item.detail_url, item_id: item.record_id})">
							<img imageonload="initSize" ng-src="{{ item.primary_photo }}"  />
						</a>
					</div>
	    		</owl-carousel>
			</div>
		</div>
		<!--<div class="row">
			<span class="col-xs-12">
				Disclaimer
			</span>
			<span class="col-xs-12">
				Disclaimer here
			</span>
		</div>-->
	</div>
</section>

<script type="text/ng-template" id="template/pic-modal.html">
  <div class="modal-body">
    <div class="img-group">
      <uib-carousel>
        <uib-slide ng-repeat="photo in gallery">
          <img ng-src="{{photo.url}}" alt="{{photo.alt}}" class="img-responsive pic" />
          <!--<div class="carousel-caption">{{photo.title}}</div>-->
        </uib-slide>
      </uib-carousel>
      
    </div>
  </div>  
</script>

<script type="text/ng-template" id="template/video-modal.html">
  <div class="modal-body">
  <div class="embed-responsive embed-responsive-16by9">
	  <iframe class="embed-responsive-item" src="{{videoUrl}}"></iframe>
	</div>
  </div>  
</script>

<jsonld data-json="inventoryDetail.jsonld"></jsonld>



