<div class="row well">
  <div class="col-xs-3">
    <img class="img-responsive" ng-if="item.imageOptimized" ng-src="{{imageBaseUrl}}{{item.record_id}}/350/{{ item.imageName }}" />
    <img class="img-responsive" ng-if="!item.imageOptimized" ng-src="{{ item.primary_photo }}" />
  </div>
  <div class="col-xs-9">
    <a  ui-sref="inventory_detail({detail_url: item.detail_url, item_id: item.record_id})">{{ item.title }}  {{item.record_id}}</a>
    <table>
      <tr>
        <td style="padding-right: 10px;">VIN: {{ item.vin }}</td>
        <td>STOCK #: {{ item.stock_number }}</td>
      </tr>
    </table>
    <div class="well" style="background: #fff;">
      <h3>{{item.price | currency:'$':2 | messageIfZero:'Contact For Price'}}</h3>
      <ul>
        <li>Engine: {{ item.engine }}</li>
        <li>Trans: {{ item.transmission }}</li>
        <li>Drivetrain: {{ item.drivetrain }}</li>
        <li>Exterior: {{ item.exterior }}</li>
        <li>Interior: {{ item.interior }}</li>
      </ul>
    </div>
  </div>
  <div class="col-xs-12">
    <button style="width: 20%;" class="btn btn-default">Details</button>
    <compare-button item="item"></compare-button>
    <button style="width: 19%;" class="btn btn-default" ng-click="openPhotoList(item.record_id)">Images</button>
    <button style="width: 19%;" class="btn btn-default">Save</button>
    <button style="width: 20%;" class="btn btn-default">Get E-Price</button>
  </div>
</div>