
<div class="col-lg-3 col-md-4 col-sm-6 col-sm-12">
  <div class="cjp-item-grid panel panel-default">
    <div class="panel-body">
      <div style="width: 100%;">
        <a ui-sref="inventory_detail({detail_url: item.detail_url, item_id: item.record_id})">
          <img style="display: block; margin: 0 auto;" class="img-responsive" ng-if="item.imageOptimized" ng-src="{{imageBaseUrl}}{{item.record_id}}/350/{{ item.imageName }}" />
          <img style="display: block; margin: 0 auto;" class="img-responsive" ng-if="!item.imageOptimized" ng-src="{{ item.primary_photo }}" />
        </a>
      </div>

      <div style="width: 100%;">
        <h2>
          <a class="cjp-item-title" ui-sref="inventory_detail({detail_url: item.detail_url, item_id: item.record_id})">{{ item.title }}</a>
        </h2>
      </div>

      <div class="cjp-item-price">
        {{item.price | currency:'$':2 | messageIfZero:'Contact For Price'}}
      </div>
      <div class="panel-footer">
        <div class="cjp-action-button-wrap">
          <div class="cjp-action">
            <a class="cjp-action-button" style="margin-left: 5px;" ui-sref="inventory_detail({detail_url: item.detail_url, item_id: item.record_id})">
              <span class="glyphicon glyphicon-search"></span>
            </a>
          </div>
        </div>
        <div class="cjp-action-button-wrap">
          <div class="cjp-action">
            <eprice item-id="item.record_id"></eprice>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 